blinker==1.9.0
branca==0.8.2
certifi==2026.1.4
click==8.3.1
Flask==3.1.2
geopandas==1.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.3
numpy==2.4.2
packaging==26.0
pandas==3.0.0
pyogrio==0.12.1
pyparsing==3.3.2
pyproj==3.7.2
python-dateutil==2.9.0.post0
rdflib==7.6.0
scikit-learn==1.8.0
scipy==1.17.0
shapely==2.1.2
six==1.17.0
SPARQLWrapper==2.0.0
threadpoolctl==3.6.0
Werkzeug==3.1.5
