{% extends "layout.html" %}

{% block content %}

<div class="map-content" id="visElement"> </div>


<div class='instructions-outer'>
    <div>
        <button id="hideinstructions" data-bs-toggle="collapse" data-bs-target="#overview-instructions">Hide/Show instructions</button>
    </div>
    <div class="instructions-content collapse show" id="overview-instructions"> 
        <p>To view additional information about any of the following pages, click the page name on left.</p>
        <p>The <b>Environmental Data</b> page allows you to view a specified region in Maine colored by whether it fits a set of environmental criteria.  For example, you can see which locations in Kennebec county have more or less than 170 frost free days a year.</p>
        <p>The <b>Tree Inventory Data</b> page allows you to see the distribution of one or more types of trees in Maine in a specific time period.  For example, you can view the distribution of pine trees with diameter at breast between 20 and 25.</p>
        <p>The <b>Tree Environmental Preferences</b> page allows you to create a feasibility map for a specific tree species based on selected properties.  For example, you can see where the elevation is and isn’t suited to American Beech trees.</p>
    </div>
</div>

<div class="filter-content">
    <img class="d-block mx-auto mb-4" src="/static/images/INSPIRES_logo.png" alt="" width="72" height="57">
    <hr>
    <div class="inner-menu">
        <a href="{{url_for('environmentalDataTask')}}">
            <img style="padding:2px;" src="/static/images/env_icon.png" alt="" width="50" height="50" title="Environmental Data Exploration">
            <div class="caption">Environmental Data</div>
        </a>
        <a href={{url_for('treeinventorytask')}}>
            <img style="padding:2px;" src="/static/images/tree_inventory.png" alt="" width="50" height="50" title="Tree Inventory Data Exploration">
            <div class="caption">Tree Inventory Data</div>
        </a>
        <a href="{{url_for('treepreferencestask')}}">
            <img style="padding:2px;" src="/static/images/analysis.png" alt="" width="50" height="50" title="Analyses of Tree Preference Habitat">
            <div class="caption">Tree Environmental Preferences</div>
        </a>
    </div>
    <hr>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/scripts/appHome.js"></script>
{% endblock %}