{% extends "layout.html" %}

{% block content %}

<div class="map-content" id="visElement"> </div>


<div class="filter-content">
    <img class="d-block mx-auto mb-4" src="/static/images/INSPIRES_logo.png" alt="" width="72" height="57">
    <hr>
    <div class="inner-menu">
        <a href="{{url_for('environmentalDataTask')}}">
            <img style="padding:2px;" src="/static/images/env_icon.png" alt="" width="50" height="50" title="Environmental Data Exploration">
            <div class="caption">Environmental Data</div>
        </a>
        <a href={{url_for('treeinventorytask')}}>
            <img style="padding:2px;" src="/static/images/tree_inventory.png" alt="" width="50" height="50" title="Tree Inventory Data Exploration">
            <div class="caption">Tree Inventory Data</div>
        </a>
        <a href="{{url_for('treepreferencestask')}}">
            <img style="padding:2px;" src="/static/images/analysis.png" alt="" width="50" height="50" title="Analyses of Tree Preference Habitat">
            <div class="caption">Tree Environmental Preferences</div>
        </a>
    </div>
    <hr>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/scripts/appHome.js"></script>
{% endblock %}