{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<hr>

<form method="POST" action="{{ url_for('buildsparql') }}">
    <div class="d-flex gap-5 justify-content-center">
        <div class="list-group mx-0">
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                <span>
                    Maine
                    <small class="d-block text-muted">With support text underneath to add more detail</small>
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                <span>
                    Vermont
                    <small class="d-block text-muted">Some other text goes here</small>
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                <span>
                    New Hampshire
                    <small class="d-block text-muted">And we end with another snippet of text</small>
                </span>
            </label>
        </div>
    </div>

    <hr>

    <h3>Temperature normals</h3>

    <div class="d-flex gap-5 justify-content-center">
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="matcheck" value="">
                    <span>
                        Annual Mean Temperature (1961-1990)

                        <hr>
                        <div id="matparam" data-mat_params='{{ mat_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-mat-min" name="minmat" placeholder="Min temp" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-mat-max" name="maxmat" placeholder="Max temp" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <br>
                            <div id="matslider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="tavesmcheck" value="">
                    <span>
                        Summer Mean Temperature (1961-1990)
                        <hr>
                        <div id="tavesmparam" data-tavesm_params='{{ tavesm_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-tavesm-min" name="mintavesm" placeholder="Min tavesm" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-tavesm-max" name="maxtavesm" placeholder="Max tavesm" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />

                            <div id="tavesmslider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="tavewtcheck" value="">
                    <span>
                        Winter Mean Temperature (1961-1990)
                        <hr>
                        <div id="tavewtparam" data-tavewt_params='{{ tavewt_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-tavewt-min" name="mintavewt" placeholder="Min tavewt" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-tavewt-max" name="maxtavewt" placeholder="Max tavewt" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />

                            <div id="tavewtslider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="mcmtcheck" value="">
                    <span>
                        Coldest Month Mean Temperature (1961-1990)
                        <hr>
                        <div id="mcmtparam" data-mcmt_params='{{ mcmt_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-mcmt-min" name="minmcmt" placeholder="Min mcmt" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-mcmt-max" name="maxmcmt" placeholder="Max mcmt" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />

                            <div id="mcmtslider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="mwmtcheck" value="">
                    <span>
                        Warmest Month Mean Temperature (1961-1990)
                        <hr>
                        <div id="mwmtparam" data-mwmt_params='{{ mwmt_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-mwmt-min" name="minmwmt" placeholder="Min mwmt" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-mwmt-max" name="maxmwmt" placeholder="Max mwmt" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />

                            <div id="mwmtslider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
    </div>

    <hr>
    <h3>Precipitation normals</h3>

    <div class="d-flex gap-5 justify-content-center">
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="matcheck" value="">
                    <span>
                        Annual Mean Precipitation (1961-1990)
                        <hr>
                        <div id="mapparam" data-map_params='{{ map_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-map-min" name="minmap" placeholder="Min map" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-map-max" name="maxmap" placeholder="Max map" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />

                            <div id="mapslider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="tavesmcheck" value="">
                    <span>
                        Summer Mean Precipitation (1961-1990)
                        <hr>
                        <div id="pptsmparam" data-pptsm_params='{{ pptsm_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-pptsm-min" name="minpptsm" placeholder="Min pptsm" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-pptsm-max" name="maxpptsm" placeholder="Max pptsm" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <div id="pptsmslider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="tavewtcheck" value="">
                    <span>
                        Winter Mean Temperature (1961-1990)
                        <hr>
                        <div id="pptwtparam" data-pptwt_params='{{ pptwt_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-pptwt-min" name="minpptwt" placeholder="Min pptwt" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-pptwt-max" name="maxpptwt" placeholder="Max pptwt" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <div id="pptwtslider"></div>

                        </div>
                    </span>
                </label>
            </div>
        </div>
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="mcmtcheck" value="">
                    <span>
                        Precipation As Snow (1961-1990)
                        <hr>
                        <div id="pasparam" data-pas_params='{{ pas_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-pas-min" name="minpas" placeholder="Min pas" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-pas-max" name="maxpas" placeholder="Max pas" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <div id="passlider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
    </div>

    <hr>
    <h3>Season Length</h3>

    <div class="d-flex gap-5 justify-content-center">
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="matcheck" value="">
                    <span>
                        Number of Frost Free Days (1961-1990)
                        <hr>
                        <div id="nffdparam" data-nffd_params='{{ nffd_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-nffd-min" name="minnffd" placeholder="Min nffd" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-nffd-max" name="maxnffd" placeholder="Max nffd" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />

                            <div id="nffdslider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="tavesmcheck" value="">
                    <span>
                        Number of Chilling Degree Days (1961-1990)
                        <hr>
                        <div id="dd0param" data-dd0_params='{{ dd0_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-dd0-min" name="mindd0" placeholder="Min dd0" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-dd0-max" name="maxdd0" placeholder="Max dd0" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <div id="dd0slider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="tavewtcheck" value="">
                    <span>
                        Number of Growing Degree Days (1961-1990)
                        <hr>
                        <div id="dd5param" data-dd5_params='{{ dd5_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-dd5-min" name="mindd5" placeholder="Min dd5" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-dd5-max" name="maxdd5" placeholder="Max dd5" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <div id="dd5slider"></div>

                        </div>
                    </span>
                </label>
            </div>
        </div>
    </div>

    <hr>
    <h3>Terrain (Elevation)</h3>

    <div class="d-flex gap-5 justify-content-center">
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="matcheck" value="">
                    <span>
                        Minimum Elevation
                        <hr>
                        <div id="minelevationparam" data-minelevation_params='{{ minelevation_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-minelevation-min" name="minminele" placeholder="Min minelevation" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-minelevation-max" name="maxminele" placeholder="Max minelevation" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />

                            <div id="minelevationslider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="tavesmcheck" value="">
                    <span>
                        Maximum Elevation
                        <hr>
                        <div id="maxelevationparam" data-maxelevation_params='{{ maxelevation_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-maxelevation-min" name="minmaxele" placeholder="Min maxelevation" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-maxelevation-max" name="maxmaxele" placeholder="Max maxelevation" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <div id="maxelevationslider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="tavewtcheck" value="">
                    <span>
                        Mean Elevation
                        <hr>
                        <div id="meanelevationparam" data-meanelevation_params='{{ meanelevation_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-meanelevation-min" name="minmeanele" placeholder="Min meanelevation" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-meanelevation-max" name="maxmeanele" placeholder="Max meanelevation" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <div id="meanelevationslider"></div>

                        </div>
                    </span>
                </label>
            </div>
        </div>
    </div>

    <hr>

    <div class="d-flex gap-5 justify-content-center">
        <div class="list-group mx-0">
            {% for slope in slope_list %}
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" name="slopecheck" value="">
                <span>
                    {{slope}}
                </span>
            </label>
            {% endfor %}
        </div>
        <div class="list-group mx-0">
            {% for aspect in aspect_list %}
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" name="aspectcheck" value="">
                <span>
                    {{aspect}}
                </span>
            </label>
            {% endfor %}
        </div>
    </div>

    <hr>
    <h3>Soil Moixture Content</h3>

    <div class="d-flex gap-5 justify-content-center">
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="matcheck" value="">
                    <span>
                        Soil moisture Content at 25cm
                        <hr>
                        <div id="aws25param" data-aws25_params='{{ aws25_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-aws25-min" name="minaws25" placeholder="Min aws25" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-aws25-max" name="maxaws25" placeholder="Max aws25" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />

                            <div id="aws25slider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="tavesmcheck" value="">
                    <span>
                        Soil Moisture Content at 50cm
                        <hr>
                        <div id="aws50param" data-aws50_params='{{ aws50_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-aws50-min" name="minaws50" placeholder="Min aws50" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-aws50-max" name="maxaws50" placeholder="Max aws50" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <div id="aws50slider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="tavewtcheck" value="">
                    <span>
                        Soil Moisture Content 100cm
                        <hr>
                        <div id="aws100param" data-aws100_params='{{ aws100_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-aws100-min" name="minaws100" placeholder="Min aws100" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-aws100-max" name="maxaws100" placeholder="Max aws100" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <div id="aws100slider"></div>

                        </div>
                    </span>
                </label>
            </div>
        </div>
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" name="mcmtcheck" value="">
                    <span>
                        Soil Moisture Content at 150cm
                        <hr>
                        <div id="aws150param" data-aws150_params='{{ aws150_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-aws150-min" name="minaws150" placeholder="Min aws150" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-aws150-max" name="maxaws150" placeholder="Max aws150" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <div id="aws150slider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
    </div>

    <hr>

    <div class="d-flex gap-5 justify-content-center">
        <div class="list-group mx-0">
            {% for soilclass in drainageClass_list %}
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" name="soilclasscheck" value="">
                <span>
                    {{soilclass}}
                </span>
            </label>
            {% endfor %}
        </div>
        <div class="list-group mx-0">
            {% for lithology in lithology_list %}
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" name="litothologycheck" value="">
                <span>
                    {{lithology}}
                </span>
            </label>
            {% endfor %}
        </div>
    </div>

    <hr>

    <div class="d-flex gap-5 justify-content-center">
        <div class="list-group mx-0">
            {% for specie in species_list %}
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" name="speciecheck" value="">
                <span>
                    {{specie}}
                </span>
            </label>
            {% endfor %}
        </div>
    </div>

    <hr>

    <div class="d-flex gap-5 justify-content-center">
        <div class="d-flex gap-5 justify-content-center">
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                    <span>
                        Proximity to waterbody
                        <hr>
                        <div id="waterdistparam" data-waterdist_params='{{ waterdist_params|tojson }}'></div>
                        <div class="unibox-search unibox-search-regular">
                            <input type="text" readonly="readonly" size="5" class="unibox-waterdist-min" name="minwaterdist" placeholder="Min waterdist" onfocus="uniboxResetHint('Min',false,this);" onblur="uniboxResetHint('Min',true,this);" value="Min" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />
                            <input type="text" readonly="readonly" size="5" class="unibox-waterdist-max" name="maxwaterdist" placeholder="Max waterdist" onfocus="uniboxResetHint('Max',false,this);" onblur="uniboxResetHint('Max',true,this);" value="Max" onkeyup="uniboxKeyUp(event,this)" onkeydown="uniboxKeyDown(event,this)" />

                            <div id="waterdistslider"></div>
                        </div>
                    </span>
                </label>
            </div>
        </div>
    </div>

    <button type="submit">Go</button>
</form>

{% endblock %}
