
<br>
<form action="{{ url_for('appHome') }}" method="post">
    Username: <input type="text" name="rName" placeholder="Enter Your Name">
    <br>
    Password :  <input type="password" name="rPassword" placeholder="Enter Your Password">
    <br>
    <button>Submit</button>
</form>
<br>
<br>
        
<br>
<form action="{{ url_for('grphqry2') }}" method="post">
Username: <input type="text" name="name" placeholder="Enter Your Name">
<br>
Password :  <input type="password" name="pw" placeholder="Enter Your Password">
<br>
<button>Submit</button>
<form>
