    {% for class in class_list %}
<label class="list-group-item d-flex gap-2">
    <input class="form-check-input flex-shrink-0" name="{{class}}" type="checkbox" value="{{class}}">
    <span>
        {{class}}
    </span>
</label>
    {% endfor %}

    {% for drclass in drainageclass_list %}
<label class="list-group-item d-flex gap-2">
    <input class="form-check-input flex-shrink-0" name="{{drclass}}" type="checkbox" value="{{drclass}}">
    <span>
        {{drclass}}
    </span>
</label>
    {% endfor %}

    {% for lit in lit_list %}
<label class="list-group-item d-flex gap-2">
    <input class="form-check-input flex-shrink-0" name="{{lit}}" type="checkbox" value="{{lit}}">
    <span>
        {{lit}}
    </span>
</label>
    {% endfor %}

    {% for landcover in landcover_list %}
<label class="list-group-item d-flex gap-2">
    <input class="form-check-input flex-shrink-0" name="{{landcover}}" type="checkbox" value="{{landcover}}">
    <span>
        {{landcover}}
    </span>
</label>
    {% endfor %}

