{% for species in species_list %}
<label class="list-group-item d-flex gap-2">
    <input class="form-check-input flex-shrink-0" cname="{{species[0]}}" type="checkbox" sname="{{species[1]}}">
    <span>
        {{species[0]}}
    </span>
</label>
{% endfor %}


{% for tree in trees_list %}
<div class="form-check">
    <input class="form-check-input" value="{{tree[0]}}" type="radio" name="treewithenvpref" id="{{tree[1]}}">
    <label class="form-check-label" for="{{tree[1]}}">
        {{tree[0]}}
    </label>
</div>
{% endfor %}