{% for year in year_list %}
<option value="1">{{year}}</option>
{% endfor %}

{% for family in family_list %}
<div class="level-two-box">
    <button class="plusminusleveltwobutton {{family[0]}}" type="button" value="{{family[0]}}"><span></span></button>
    <button class="text-button-leveltwo taxbutton" cname="{{family[0]}}" sname="{{family[1]}}">{{family[0]}}</button>
</div>
{% endfor %}

{% for genus in genus_list %}
<div class="level-three-box">
    <button class="plusminuslevelthreebutton" type="button" value="{{genus[0]}}"><span></span></button>
    <button class="text-button-levelthree taxbutton" cname="{{genus[0]}}" sname="{{genus[2]}}">{{genus[0]}}</button>
</div>
{% endfor %}

{% for species in species_list %}
<div class="level-four-box">
    <button class="text-button-levelfour taxbutton" cname="{{species[0]}}" sname="{{species[1]}}">{{species[0]}}</button>
</div>
{% endfor %}


{% for class in class_list %}
<label class="list-group-item d-flex gap-2">
    <input class="form-check-input flex-shrink-0" name="{{class}}" type="checkbox" value="{{class}}">
    <span>
        {{class}}
    </span>
</label>
{% endfor %}








