
body {
    width: 100%;
    min-height: 100vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/*
main {
    display: flex;
    flex-wrap: nowrap;
    height: 90%;
    max-height: 85vh;
    overflow-x: auto;
    overflow-y: auto;
}
*/
.ver-divider {
    flex-shrink: 0;
    width: 0.9rem;
    height: 85%;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.hor-divider {
    height: 0.3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
}

    .wrapper .row {
        border: 1px dotted grey;
    }

        .box .row.navspace {
            flex: 0 1 auto;
            /* The above is shorthand for:
            flex-grow: 0,
            flex-shrink: 1,
            flex-basis: auto
            */
            display: flex;
            align-items: center;
        }

        .wrapper .row.contentspace {
            flex: 1 1 auto;
        }

        .wrapper .row.footerspace {
            flex: 1 1 40px;
            overflow: auto;
        }

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

    .box .row {
        border: 1px dotted grey;
    }

        .box .row.top {
            flex: 0 1 auto;
            /* The above is shorthand for:
            flex-grow: 0,
            flex-shrink: 1,
            flex-basis: auto
            */
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 2px;
        }

        .box .row.middle {
            flex: 0 1 auto;
            overflow: auto;
        }

        .box .row.bottom {
            flex: 0 1 24px;
            /* The above is shorthand for:
            flex-grow: 0,
            flex-shrink: 1,
            flex-basis: auto
            */
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 6px;
        }


/* Just for style, nevermind it */
.top-input {
    height: 25px;
    margin: 0.5em;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.opacity-50 {
    opacity: .5;
}

.opacity-75 {
    opacity: .75;
}

.list-group {
    width: auto;
    max-width: 460px;
    margin: 4rem auto;
}

.form-check-input:checked + .form-checked-content {
    opacity: .5;
}

.form-check-input-placeholder {
    pointer-events: none;
    border-style: dashed;
}

[contenteditable]:focus {
    outline: 0;
}

.list-group-checkable {
    display: grid;
    gap: .5rem;
    border: 0;
}

.list-group-checkable .list-group-item {
    cursor: pointer;
    border-radius: .5rem;
}

.list-group-item-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

    .list-group-item-check:hover + .list-group-item {
        background-color: var(--bs-light);
    }

    .list-group-item-check:checked + .list-group-item {
        color: #fff;
        background-color: var(--bs-blue);
    }

    .list-group-item-check[disabled] + .list-group-item,
    .list-group-item-check:disabled + .list-group-item {
        pointer-events: none;
        filter: none;
        opacity: .5;
    }

#matslider {
    margin-top: 50px;
    width: 80%;
}

#tavesmslider {
    margin-top: 50px;
    width: 80%;
}

#tavewtslider {
    margin-top: 50px;
    width: 80%;
}

#mcmtslider {
    margin-top: 50px;
    width: 80%;
}

#mwmtslider {
    margin-top: 50px;
    width: 80%;
}

#mapslider {
    margin-top: 50px;
    width: 80%;
}

#pptsmslider {
    margin-top: 50px;
    width: 80%;
}

#pptwtslider {
    margin-top: 50px;
    width: 80%;
}

#passlider {
    margin-top: 50px;
    width: 70%;
}

#nffdslider {
    margin-top: 50px;
    width: 80%;
}

#dd0slider {
    margin-top: 50px;
    width: 80%;
}

#dd5slider {
    margin-top: 50px;
    width: 80%;
}

#minelevationslider {
    margin-top: 50px;
    width: 80%;
}

#maxelevationslider {
    margin-top: 50px;
    width: 80%;
}

#meanelevationslider {
    margin-top: 50px;
    width: 80%;
}

#aws150slider {
    margin-top: 50px;
    width: 80%;
}

#aws25slider {
    margin-top: 50px;
    width: 80%;
}

#aws50slider {
    margin-top: 50px;
    width: 80%;
}

#aws100slider {
    margin-top: 50px;
    width: 80%;
}

#aws150slider {
    margin-top: 50px;
    width: 80%;
}

#waterdistslider {
    margin-top: 50px;
    width: 80%;
}

.box-border {
    border-style: solid;
    border-width: thin;
    border-color: #FFFFFF;
}

.d-row {
    justify-content: space-around;
    border: 1px solid black;
    padding: 6px;
}

.modal {
    border: 1px solid black;
    display: none;
}

.about-inspires {
    margin-bottom: auto;
}

.header {
    flex: 0 0 400px;
    background-color: red;
    color: red;
}

.main {
    /*flex: 0 0 calc(100% - 400px);
    flex: 0 0 100%;*/
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
    position: relative;
}

.footer {
    flex: 0 0 40px;
    background-color: green;
}

.filter-content {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 380px;
    height: 650px;
    background-color: #fff;
    z-index: 2;
    padding: 5px;
    float: left;
    overflow-y: scroll;
    overflow-x: scroll;
}

.instructions-outer {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 450px;
    background-color: #fff;
    z-index: 2;
    padding: 10px;
}
.instructions-content {
    position: absolute;
    top: 40px;
    right: 20px;
    width: 450px;
    height: 600px;
    background-color: #fff;
    z-index: 2;
    padding: 10px;
    font-size: 1.3em;
    float: right;
    overflow-y: scroll;
    overflow-x: scroll;
}

.custom-spinner {
    position: absolute;
    top: 400px;
    left: 600px;
    float: left;
    background-color: #fff;
}

.spinner-border {
    width: 200px;
    height : 200px;
}

.layer-filters {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 350px;
    height: 400px;
    background-color: #fff;
    z-index: 2;
    padding: 5px;
    overflow-y: scroll;
}

.pref-table-window {
    position: absolute;
    top: 50px;
    left: 27%;
    width: 600px;
    height: 600px;
    background-color: #fff;
    z-index: 2;
    padding: 5px;
    overflow-y: scroll;
}

.map-content {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 0;
}

.map-legend {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

    .map-legend div {
        margin-bottom: 5px;
    }

    .map-legend span {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

.popup {
    display: none;
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
}

.text-button-levelone {
    background: none;
    border: none;
}

.text-button-leveltwo {
    background: none;
    border: none;
}

.text-button-levelthree {
    background: none;
    border: none;
}

.text-button-levelfour {
    background: none;
    border: none;
}

.plusminuslevelonebutton {
    background-color: forestgreen;
    color: none;
    cursor: pointer;
    text-align: center;
    outline: none;
    transition: 0.4s;
    color: #262626;
    font-size: 0.6em;
    font-weight: normal;
    font-style: normal;
    font-family: 'Lato';
    border: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 1.5em;
    width: 1.5em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.plusminuslevelonebutton:hover {
    background-color: white;
}

.plusminuslevelonebutton span:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 0.6em;
    font-family: 'Lato';
    color: #262626;
}

.plusminuslevelonebutton.active span:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.plusminusleveltwobutton {
    background-color: lightgreen;
    color: none;
    cursor: pointer;
    text-align: center;
    outline: none;
    transition: 0.4s;
    color: #262626;
    font-size: 0.6em;
    font-weight: bolder;
    font-style: normal;
    font-family: 'Lato';
    border: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 1.5em;
    width: 1.5em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.plusminusleveltwobutton:hover {
    background-color: white;
}

.plusminusleveltwobutton span:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 0.6em;
    font-family: 'Lato';
    color: #262626;
}

.plusminusleveltwobutton.active span:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.plusminuslevelthreebutton {
    background-color: greenyellow;
    color: none;
    cursor: pointer;
    text-align: center;
    outline: none;
    transition: 0.4s;
    color: #262626;
    font-size: 0.6em;
    font-weight: normal;
    font-style: normal;
    font-family: 'Lato';
    border: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 1.5em;
    width: 1.5em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.plusminuslevelthreebutton:hover {
    background-color: white;
}

.plusminuslevelthreebutton span:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 0.6em;
    font-family: 'Lato';
    color: #262626;
}

.plusminuslevelthreebutton.active span:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.arrow-btn {
    border: none;
    background-color: orange;
    padding: 12px 48px 12px 24px;
    border-radius: 4px;
    color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='https://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 24px center;
}

.level-one-box {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.level-two-filter-box {
    display: flex;
    flex-flow: column;
    width: 100%;
    
}

.level-two-box {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding-left: 15px;
}

.level-three-filter-box {
    display: flex;
    flex-flow: column;
    width: 100%;
    
}

.level-three-box {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding-left: 30px;
}

.level-four-filter-box {
    display: flex;
    flex-flow: column;
    width: 100%;
    
}

.level-four-box {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding-left: 40px;
}

.inner-menu {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: space-around;
}

    .inner-menu a {
        display: flex;
        flex-flow: row;
        width: 90%;
        margin: 10px;
        align-content: flex-start;
    }

    .inner-menu a.current {
        border: 1px solid black;
    }

.caption {
    margin: 10px;
}
/*table columns formating*/
.select-column {
    padding-left: 10px;
}


.variable-column {
    padding-left: 10px; 
}

.minimum-column {
    padding-left: 10px; 
}

.maximum-column {
    padding-left: 10px; 
}

.rank-column {
    padding-left: 10px;
}

.table-title {
    padding-top: 15px;
    padding-bottom: 10px;
}

/* Highlight button */
.highlighted {
    background-color: #4CAF50; /* Change to desired highlight color */
    color: white; /* Optional: change text color */
    border: 2px solid #2e7d32; /* Optional: define border color */
}


/* Positioning and style for the legend container */
.choropleth-legend {
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    line-height: 1.5;
}

/* Style for the gradient bar within the legend */
.choropleth-legend-bar {
    width: 200px;
    height: 10px;
    background: linear-gradient(to right, blue, white, red); /* Replace with colors you use in colorScale */
}

/* Labels for min and max values */
.choropleth-legend-labels {
    display: flex;
    justify-content: space-between;
}