{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<hr>

<form method="POST" action="">

    <div class="d-flex gap-5 justify-content-center">
        <div class="list-group mx-0">
            <h4>States</h4>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="fo:Maine" name="states">
                <span>
                    Maine
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="fo:Vermont" name="states">
                <span>
                    Vermont
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="fo:NewHampshire" name="states">
                <span>
                    New Hampshire
                </span>
            </label>
        </div>
    </div>
    <hr>
    <h3>Climate Normals</h3>
    <div class="d-flex gap-5 justify-content-center">
        <div class="list-group mx-0">
            <h4>Temperature</h4>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="mat" name="temperature">
                <span>
                    Annual Mean Temperature
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="tavesm" name="temperature">
                <span>
                    Summer Mean Temperature
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="tavewt" name="temperature">
                <span>
                    Winter Mean Temperature
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="mcmt" name="temperature">
                <span>
                    Coldest Month Mean Temperature
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="mwmt" name="temperature">
                <span>
                    Warmest Month Mean Temperature
                </span>
            </label>
        </div>
        <div class="list-group mx-0">
            <h4>Precipitation</h4>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="map" name="precipitation">
                <span>
                    Annual Mean Precipitation
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="pptsm" name="precipitation">
                <span>
                    Summer Mean Precipitation
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="pptwt" name="precipitation">
                <span>
                    Winter Mean Precipitation
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="pas" name="precipitation">
                <span>
                    Precipitation As Snow
                </span>
            </label>
        </div>
        <div class="list-group mx-0">
            <h4>Season Length</h4>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="nffd" name="seasonlength">
                <span>
                    Number of Frost Free Days
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="dd0" name="seasonlength">
                <span>
                    Chilling Degree Days
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="dd5" name="seasonlength">
                <span>
                    Growing Degree Days
                </span>
            </label>
        </div>
    </div>
    <hr>
    <h3>Terrain</h3>
    <div class="d-flex gap-5 justify-content-center">
        <div class="list-group mx-0">
            <h4>Elevation</h4>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="minele" name="elevation">
                <span>
                    Minimum Elevation
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="maxele" name="elevation">
                <span>
                    Maximum Elevation
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="meanele" name="elevation">
                <span>
                    Mean Elevation
                </span>
            </label>
        </div>
        <div class="list-group mx-0">
            <h4>Slope and Aspect</h4>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="slope" name="slpaspt">
                <span>
                    Slope
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="aspect" name="slpaspt">
                <span>
                    Aspect
                </span>
            </label>
        </div>
        <div class="list-group mx-0">
            <h4>Distance to waterbody</h4>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="waterdist" name="waterdist">
                <span>
                    Distance to Waterbody
                </span>
            </label>
        </div>
    </div>
    <hr>
    <h3>Soil and Bedrock Properties</h3>
    <div class="d-flex gap-5 justify-content-center">
        <div class="list-group mx-0">
            <h4>Soil Moisture Content</h4>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="aws25" name="moisturecontent">
                <span>
                    Soil Moisture Content at 25cm
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="aws50" name="moisturecontent">
                <span>
                    Soil Moisture Content at 50cm
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="aws100" name="moisturecontent">
                <span>
                    Soil Moisture Content at 100cm
                </span>
            </label>
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="aws150" name="moisturecontent">
                <span>
                    Soil Moisture Content at 150cm
                </span>
            </label>
        </div>
        <div class="list-group mx-0">
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="drainageclass" name="drainageclass">
                <span>
                    Soil Drainage Class
                </span>
            </label>
        </div>
        <div class="list-group mx-0">
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="bedrock" name="bedrock">
                <span>
                    Bedrock Material
                </span>
            </label>
        </div>
    </div>
    h3>Species</h3>
    <div class="d-flex gap-5 justify-content-center">
        <div class="list-group mx-0">
            <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="checkbox" value="specie" name="specie">
                <span>
                    Tree Species
                </span>
            </label>
        </div>
    </div>
    <button type="submit">Go</button>
</form>

    {% endblock %}





