{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">DIGITAL FOREST TASKS</h1>
    <p class="lead">This app leverages the capabilities of inferencing through a knowledge graph to explore the complex interactions between numerous components in the New England forest.</p>
    <hr class="my-4">
    <h2>Environmental Data Discovery and Exploration</h2>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{url_for('environmentalDataTask')}}" role="button">GO</a>
    </p>
    <hr class="my-4">
    <h2>Tree Inventory Data Discovery and Exploration</h2>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{url_for('treeinventorytask')}}" role="button">GO</a>
    </p>
    <hr class="my-4">
    <h2>Analyses of Tree Preference Habitat</h2>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{url_for('treepreferencestask')}}" role="button">GO</a>
    </p>
</div>

{% endblock %}
