{% extends "layout.html" %}

{% block content %}
{% include "navbar.html" %}

<div class="body-content">
    <div>  
        <h1>Explore Maine forest ecosystem data</h1>
        <p>Query Environmental Data, Tree Inventory Data, and Tree Environmental Preferences across Maine. Filter, visualize, and export your results in seconds.</p>
    </div>
    <div>
        {% for task in app_tasks %}
        <div>
            <a href="{{ url_for(task.endpoint) }}" class="card text-decoration-none">
                <img src="{{ task.icon }}" alt="" width="24" height="24">
                <div class="card-body">
                    <h5 class="card-title">{{ task.label }}</h5>
                    <p class="card-text">{{ task.title }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
